<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to sharemycake.com, <%= @to.name %></h1>
    <p>
      your are invevaited by your friend <%=@sender.first_name %> if u have a account just loged in the bellow  link 
			.<br/><a href="localhost:3000" >sharemycake</a>
    </p>
    <p>
      To give a gift , just follow this link: <a href="localhost:3000/payment">gift</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>