
<div class="body">
		<div>
			<div class="featured">
				 <%#= image_tag(image_url 'camping.jpg' )  %>
				
				
			</div>
			<div>
				<div>
					<div>
				
						<div class="section">
						   <%= render 'form' %>
							<p>
								
							</p>
							<ul>
								<li>
									<p>
										
									</p>
								</li>
								<li>
									<p>
										
									</p>
								</li>
								<li>
									<p>
										
									</p>
								</li>
								<li>
									<p>
										
									</p>
								</li>
							</ul>
							<ul class="last">
								<li>
									<p>
										
								</li>
								<li>
									<p>
									
									</p>
								</li>
								<li>
									<p>
									
									</p>
								</li>
								<li>
									<p>
									
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h3>My Contribution</h3>
							<ul>
								<li>
									<div>
										 <%#= image_tag(image_url "org1.jpg", :size => "85x85") %>
										
									</div>
								</li>
								<li>
									<div>
										<%#= image_tag(image_url 'org2.gif' , :size => "85x85") %>
										<p>
											your contribution is so for ..............
										</p>
									</div>
								</li>
								<li class="last">
									<div>
										<%#= image_tag(image_url 'org3.jpg' , :size => "85x85") %>
										
									</div>
								</li>
							</ul>
								<a ><%#=link_to "View All", home_index_path%></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>